# Raw recordings
*.xdf

# Large generated arrays
*.npz
*.npy

# Training outputs
__pycache__/
*.pt
/checkpoints_eegnet_randomsplit/20260623_112519/
/checkpoints_eegnet_randomsplit/20260623_113248/
/checkpoints_eegnet_randomsplit/20260623_133309/
/checkpoints_eegnet_randomsplit/20260623_134152/
/checkpoints_eegnet_randomsplit/20260623_134345/
/checkpoints_eegnet_randomsplit/20260624_102731/
/checkpoints_eegnet_randomsplit/20260624_111822/
/checkpoints_eegnet_randomsplit/20260625_101045/
/checkpoints_eegnet_randomsplit/20260625_103002/
/checkpoints_eegnet_randomsplit/20260625_110233/




backup/
scripts/

changes.md
