# Raw recordings
*.xdf

# Large generated arrays
*.npz
*.npy

backup/
scripts/

changes.md

# Training outputs
__pycache__/
*.pt
checkpoints_eegnet_randomsplit/sub1_hjlee_nogit
checkpoints_eegnet_randomsplit/sub2_yjkim_nogit


